# This tells git to ignore irrelevant files
# OS-specific files
# Windows
Thumbs.db*
[Dd]esktop.ini

# MacOS
.DS_Store
._*
.Trashes
.Spotlight-V100

# Non-OS specific
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

*.lnk
*.url
